.extmain{
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  left: 5vw;
  top: 5vh;
  width: 30px;
  height: 30px;
  background: lightgray;
  border: 4px solid black;
  z-index:100000;
}

.extmain:hover, .extmain:focus-within{
  left: 2vw;
  top: 2vh;
  width: 50vw;
  height: 100vh;
  background: white;
  color: black;
  font-size: 1em;
  border: 2px solid black;
}
.extmain>*{
  display: none;
}

.extmain:hover>script, .extmain:hover>style, 
.extmain:focus-within>script, .extmain:focus-within>style {
  display:none;
}

.extmain>.minimized{
display: flex;
}

.extmain:hover>*, .extmain:focus-within>* {
display:flex;
}

.fill{
flex-grow:1;
}
.extmain:hover>.minimized, .extmain:focus-within>.minimized{
display: none;
}



.extrow{
  width: 100%;
}
.extrow>*{
margin:auto;
}


label.fillheight{
height:100%;
flex-direction: column-reverse;
}
label.fillheight>input | label.fillheight>div | label.fillheight>textarea{
height: calc(100% - 18px);
width: 100%;
}
