.extmain{
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 5vw;
  top: 5vh;
  width: 30px;
  height: 30px;
  background: lightgray;
  border: 4px solid black;
  z-index:100000;

  &>*{
    display: none;
  }

  &:hover, &:focus-within, &:focus, &:active{
    left: 2vw;
    top: 2vh;
    width: 50vw;
    height: 100vh;
    background: white;
    color: black;
    font-size: 1em;
    border: 2px solid black;
    >* {
      display: flex;
    }
    >.minimized, >script, >style{
      display: none;
    }
  }
  
  .fill{
    flex-grow: 1;
  }
  
  .extrow{
    width: 100%;
    &>*{
      margin: auto;
    }
  }
  
  label.fillheight{
    height:100%;
    flex-direction: column-reverse;
    &>input, &>div, &>textarea{
      height: calc(100% - 18px);
      width: 100%;
    }
  }
}
