.extmain{
  display: flex;
  position: fixed;
  left: 5vw;
  top: 5vh;
  width: 30px;
  height: 30px;
  background: lightgray;
  border: 4px solid black;
  z-index:100000;
}

.extmain:hover, .extmain:focus-within{
  left: 0vw;
  top: 0vh;
  width: 50vw;
  height: 100vh;
  background: lightgray;
  border: 2px solid black;
}
.extmain>*{
display:none;
}
.extmain>.minimized{
display: flex;
}

.extmain:hover>*, .extmain:focus-within>* {
display:flex;
}
